<div class="row">
    
</div>
<div class="row">
    <div class="column">
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Family</th>
                    <th>Birthday</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let cat of cats">
                    <td>{{cat.name}}</td>
                    <td>{{cat.family}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>